/* GENERAL STYLES */
a{
  text-decoration: none;
}
body {
	font-family: Arial, San-Serif;
	font-size: 100%;
	background: url(https://i.pinimg.com/originals/7c/95/02/7c95029dd31403a0413812f5c9e43d15.jpg)no-repeat center center fixed;
  background-size: cover;
}
.page-navigation {
  background-color: #222;
  border-color: #101010;
  min-height: 64px;
}
.container {
  margin: 0 auto;
  width: 960px;
}
.page-navigation__logo {
  max-width: 10%;
  float: left;  
}
.page-navigation__img{
  padding-top: 3%;
  width: 60%;
}
.page-navigation__item{
  float: left;
  width: 100px;
  list-style-type: none;
}
.page-navigation_link_active{
  color: white;
  background-color: #556B2F;
}
.page-navigation__menu {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.page-navigation__link{
  display: block;
  color: #9d9d9d;
  line-height: 4em;
  font-weight: bold;
  text-align: center; 
  text-decoration: none;
}
.page-navigation__item:hover{
  background-color: #556B2F;
}
.page-navigation__link:hover{
 color: black; 
}
.header {
  padding: 50px 0;
  background-image: url(https://annush-hub.github.io/dinosaurs/images/header.png);
  background-size:cover;
  background-repeat:no-repeat;
}
.header__title{
  color: #556B2F;
  -webkit-text-stroke: 1px silver;
  text-align: center;
  font-size: 60px;
  text-shadow: black 1px 1px 0, black 2px 2px 0, 
                 black 3px 3px 0, black 4px 4px 0, 
                 black 5px 5px 0;
}
.container__title{
  font-size: 60px;
color: #556B2F;
margin: 25px;
}

.container__map-title{
border: 1px solid black;
  background-image: url("https://annush-hub.github.io/dinosaurs/images/dino.jpg");
  background-attachment: fixed;
  background-size: cover;
  width: 90%;
  height: 150px;
  margin-right: auto;
  margin-left: auto;
  font-family: Helvetica;
  color: white;
  -webkit-text-stroke: 1px black;
  font-size: 50px;
  line-height: 1.3em;
  padding: 15px;

}
.container__map-item{
  text-decoration: none;
}

.footer {
  background: rgb(85,107,47);
  background: radial-gradient(circle, rgba(85,107,47,1) 0%, rgba(189,183,107,1) 100%);
  color: white;
  padding: 20px 0;
  margin-top: 30px;
}

.container_title_small{
  padding-bottom: 5px;
  border-bottom: 1px solid #777;
  font-size: 36px;
}

.container__cards{
  overflow: auto;
}

.container__cards > div:first-child {
  padding-left: 0;
  padding-right: 10px;
}
.container__cards > div:last-child {
  padding-right: 0;
  padding-left: 10px;
}

.container__item-card{
  display: inline-block;
  float: left;
  padding-left: 5px;
  padding-right: 5px;
  width: 33.33%;
  box-sizing: border-box;
}

.container_item-card-big{
  width: 100%;
}

.container__item{
  border: 1px solid #959595;
}

.container__card-media{
  width: 100%;
}

.container__card-media:hover{
  opacity: 80%;
}

.container__card-text{
  padding: 0 20px 20px 20px;
}

.container__card-title{
  color: #556B2F;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.container__card-p{
  height: 100%;
  overflow: hidden;
}

.container__card-button{
  padding: 10px;
  border: 1px solid transparent;
  border-radius: 5px;
  outline: none;
}


.container__card-button:hover {
  background-color: #556B2F;
  color: white;
}

.container__article-p{
  font-size:18px;
 font-family: "Segoe UI"; 
 text-align: justify;
 margin: 20px;
}

.container_title_article{
font-family: "Segoe UI";
font-size:28px;
font-weight:500;
margin: 5px;
text-align: center;
padding-left: 25px;
}

.container__article-ul{
  list-style-type: none;
}

.container__article-li{
  padding-top: 0.3%;
  font-family: "Segoe UI"; 
}

.container__article-image{
  max-width: 50%;
  padding-left:  2%;
  padding-right:  2%;
}

.container__article-ol{
  max-width: 100%;
  display: block;
}

.container__article-link{
  display: block;
  line-height: 1em;
  color:  #556b2f;
  font-size:20px;
}

.container__article-link:hover{
  color:  #bdb76b;
}

.container__article-id-li{
  float: left;
  margin: 1%;
  text-align: center;
  color:  #556b2f;
  margin-right: 5%;
}

.container__form{
  width: 50%;
  margin: 50px auto;
  padding: 10px;
}

.container__input{
  height: 40px;
  display: block;
  width: 50%;
  margin: 20px auto;
  border-radius: 6px;
  text-indent: 15px;
}

.container__input-submit{
  font-size: 18px;
  padding: 10px;
  border: 1px solid ;
  border-radius: 5px;
  outline: none;
}

.container__input-submit:hover{
  background-color: #556B2F;
  color: white;
}

/********** Base styles **********/
* {
  box-sizing: border-box;
}

/* Simple Responsive Framework. */
.row {
  width: 100%;
}

/********** Large devices only **********/
@media (min-width: 1200px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6 {
    float: left;
    
    padding: 1%;
  }
  .col-lg-1 {
    width: 8.33%;
  }
  .col-lg-2 {
    width: 16.66%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-4 {
    width: 33.33%;
  }
  .col-lg-5 {
    width: 41.66%;
  }
  .col-lg-6 {
    width: 50%;
  }
  
}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6 {
    float: left;
    
    padding: 1%;
  }
  .col-md-1 {
    width: 8.33%;
  }
  .col-md-2 {
    width: 16.66%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-4 {
    width: 33.33%;
  }
  .col-md-5 {
    width: 41.66%;
  }
  .col-md-6 {
    width: 50%;
  }
  
}
/********** Medium devices only **********/
@media (min-width: 375px) and (max-width: 991px) {
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6 {
    float: left;
   
    padding: 1%;
  }
  .col-md-1 {
    width: 8.33%;
  }
  .col-md-2 {
    width: 16.66%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-4 {
    width: 33.33%;
  }
  .col-md-5 {
    width: 41.66%;
  }
  .col-md-6 {
    width: 50%;
  }
  
}
