.article{
	margin-left:  15%;
}

.article img{
	max-width: 50%;

}
.article-ol{
	
	max-width: 100%;
	display: block;
}

.article-ol a{
	display: block;
	line-height: 1em;
	color:  #556b2f;
	font-size:20px;
	
}

.article-ol a:hover{
	color:  #bdb76b;

}

.article-ol li{
	float: left;
	margin: 1%;
	text-align: center;
	color:  #556b2f;
	margin-right: 5%;

}

h3 {
font-family: "Segoe UI";
font-size:28px;
font-weight:500;
margin: 5px;
text-align: center;
padding-left: 25px;
}
p {
 font-size:18px;
 font-family: "Segoe UI"; 
 text-align: justify;
 margin: 20px;
}
img {
  padding-left:  2%;
  padding-right:  2%;
}